.home-service-section {
    /* margin-top: 50px;
    margin-bottom: 50px; */
}

.home-banner-section .sub-title {
    font-size: 16px;
    line-height: 22px;
    letter-spacing: 4px;
    margin: 20px 0;
}

/* .home-about-section {
    padding: 70px 0;
} */