*{user-select:none}body{padding:0;margin:0}.ads-body{box-sizing: border-box;cursor: pointer;position:absolute;top:0;left:0;right:0;margin:auto;overflow:hidden}.loader-dash{background-color:#fefefe;display:block;position:absolute;height:100%;width:100%;top:0;left:0;bottom:0;right:0;margin:auto;z-index:999999}.loader,.loader:after,.loader:before{background:#535353;-webkit-animation:load1 1s infinite ease-in-out;animation:load1 1s infinite ease-in-out;width:.5em}.loader{color:#535353;text-indent:-9999em;position:absolute;font-size:6px;-webkit-transform:translateZ(0);-ms-transform:translateZ(0);transform:translateZ(0);-webkit-animation-delay:-.16s;animation-delay:-.16s;left:0;right:0;top:0;bottom:0;margin:auto}.loader:after,.loader:before{position:absolute;top:0;content:''}.loader:before{left:-1.5em;-webkit-animation-delay:-.32s;animation-delay:-.32s}.loader:after{left:1.5em}@-webkit-keyframes load1{0%,100%,80%{box-shadow:0 0;height:4em}40%{box-shadow:0 -2em;height:5em}}@keyframes load1{0%,100%,80%{box-shadow:0 0;height:4em}40%{box-shadow:0 -2em;height:5em}}
.full-screen{width:100%;position: absolute;top: 0;left: 0;right: 0;bottom: 0;margin: auto;}
.video_bg{position: absolute;left: 0;right: 0;top: 0px;width: 320px;height: 180px;background-color: #000;z-index: 9999;}

#page1,#page2,#page3{display: none;}


.ribbon-anim{
    animation: RibbonAnim 1s linear infinite;
}

@keyframes RibbonAnim {
    0%, 100% {
      /* transform: translateY(0); */
      /* transform: matrix(1, 0, 0, 1, 0, 0); */
      transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
    }
    50% {
      /* transform: translateY(-50px); */
      /* transform: matrix(2, 0, 0, 1, 0, 0); */
      transform: matrix3d(2, 0.2, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
      
    }
}

.slider img{
  display: none;
}

.slider img.active{
  display: block;
}

.slider-dot{
  position: absolute;
  list-style: none;
  width: 320px;
  height: 40px;
  padding: 0;
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 65px;
  z-index: 99999;
  direction: rtl;
}

.slider-dot li{
  height: 8px;
  width: 8px;
  background-color: transparent;
  border: solid 1px #fff;
  border-radius: 50%;
  margin: 0 3px;
}

.slider-dot li.active{
  background-color: #fff;
}

.learnmore{
  position: absolute;
  display: block;
  bottom: 0;
  height: 65px;
  width: 100%;
  z-index: 9999;
}