*{user-select: none;}
body{padding: 0;margin: 0;}#trigger{cursor: pointer;}
.ad-body{border: solid 1px #DDD;background-color: #000;width: 320px;height: 480px;position: absolute;top: 0;left: 0;right:0;margin:auto;overflow: hidden;}

.full-screen{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
}

.page2,
.page3,.page4,.page5{
    display: none;
}

.start_blink,
.started{
    display: none;
}

.start_btn{
    display: block;
    height: 102px;
    width: 107px;
    position: absolute;
    left: 0;
    right: 0;
    top: 72px;
    margin: auto;
    z-index: 99999;
    cursor: pointer;
}

.arrows{
    display: none;
}
.arrows img{
    display: none;
}

.btn_1{
    display: block;
    position: absolute;
    height: 51px;
    width: 51px;
    top: 79px;
    left: 83px;
    z-index: 999;
    cursor: pointer;
}
.btn_2{
    display: block;
    position: absolute;
    height: 51px;
    width: 51px;
    top: 79px;
    left: 145px;
    z-index: 999;
    cursor: pointer;
}
.btn_3{
    display: block;
    position: absolute;
    height: 51px;
    width: 51px;
    top: 79px;
    left: 207px;
    z-index: 999;
    cursor: pointer;
}

.slider_1,
.slider_3{
    visibility: hidden;
}

button.owl-next {
    position: absolute;
    top: 95px;
    right: 10px;
}

button.owl-next span{
    font-size: 60px;
    color: #fff;
}

button.owl-prev {
    position: absolute;
    top: 95px;
    left: 10px;
}

button.owl-prev span{
    font-size: 60px;
    color: #fff;
}

.back_btn{
    position: absolute;
    z-index: 9999999;
    top: 10px;
    left: 10px;
    cursor: pointer;
}

.lernmore{
    position: absolute;
    display: block;
    height: 40px;
    width: 118px;
    bottom: 71px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 9999;
    cursor: pointer;
}